body {
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", monospace;
    color: #fff;
    background-image: url('../img/bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s, transform 0.3s;
}

.header:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateY(-5px);
}

.logo img {
    position: relative;
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
    margin-left: 50px;
}

.logo img:hover {
    transform: rotate(360deg);
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    margin-right: 50px;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid transparent;
    transition: border 0.3s, color 0.3s, transform 0.3s;
}

.nav ul li a:hover {
    border: 1px solid #ffeb3b;
    color: #ffeb3b;
    transform: scale(1.1);
}

.background {
    display: flex;
    min-height: 100vh;
}

.container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

.screen-header-button.close {
    background: #ed1c6f;
}

.screen-header-button.maximize {
    background: #e8e925;
}

.screen-header-button.minimize {
    background: #74c54f;
}

.screen-header-right {
    display: flex;
}

.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3em;
  
}

.app-contact {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
}

.app-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-control {
    padding: 10px;
    width: 300px;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

.app-form-control::placeholder {
    color: #ccc;
}

.app-form-control:focus {
    outline: none;
    border-color: #ffeb3b;
    background-color: rgba(255, 255, 255, 0.2);
}

.app-form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffeb3b;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.app-form-button:hover {
    background-color: #333;
    color: #ffeb3b;
}

.credits {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: #999;
}

.credits-link {
    color: #999;
    text-decoration: none;
    transition: color 0.3s;
}

.credits-link:hover {
    color: #fff;
}

.footer {
    background-color: rgba(13, 12, 12, 0.4);
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

.footer:hover {
    background-color: rgba(22, 22, 22, 0.9);
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.footer-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.footer-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s, filter 0.3s;
    filter: grayscale(100%);
}

.footer-icons img:hover {
    transform: scale(1.2);
    filter: grayscale(0) invert(1);
}
